@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Mingzat&family=Poiret+One&family=Rubik&display=swap');
*{
    font-family: 'Rubik';
    font-weight: 600;
}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fb8d9fe4;
}
header{
    
    display: block;
}
header h1 {
    text-align: center;
    color: #FB4570;
    font-size: 50px
}
.title {
    margin: 0 0 30px 0;
    padding: 20px;
    background-color: rgba(228, 228, 228, 0.398);
}

.textBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin: 30px auto;
    background-color: white;
    padding: min(30px);
    border-radius: 20px;
}
p{
    font-size: 20px;
}
.circle{
 height: 50%;
 margin: auto 3vw;
 background-color: #FB4570;
 border-radius: 90%;
 padding: 10px;
}
.check
{
    color: white;
    font-size: 30px;
}
.close
{

    color: white;
    font-size: 30px; 
}

