@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Mingzat&family=Poiret+One&family=Rubik&display=swap');
*{
    font-family: 'Rubik';
    font-weight: 600;
}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fb8d9fe4;
}
header{
    
    display: block;
}
header h1 {
    text-align: center;
    color: #FB4570;
    font-size: 50px
}
.title {
    margin: 0 0 30px 0;
    padding: 20px;
    background-color: rgba(228, 228, 228, 0.398);
}
.alert{
    text-align: center;
}
.textBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin: 30px auto;
    background-color: white;
    padding: min(30px);
    border-radius: 20px;
}
p{
    font-size: 20px;
}
.circle{
 height: 30px;
 width: 30px;
 margin: auto 3vw;
 background-color: #FB4570;
 border-radius: 100%;
 padding: 10px;
}
.check
{
    color: white;
    font-size: 30px;
}
.close
{

    color: white;
    font-size: 30px; 
}


.deleteBtn
{
    margin-left:0;
    margin-left:8px;

    justify-content: flex-end;
    color:rgba(0, 0, 0);
    background: none;
    border: none;
}

.deleteBtn:hover{
color: red;
}

.delAndStats
{
    display: flex;
}

.btn 
{
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    border: none;
   color: white; 

}
.btn-primary
{
   
    background-color: #FF0833;

    
}

.btn-primary:hover
{
    background-color: #ff7088;

}

.btn-secondary
{
   background-color: purple;
}
.btn-secondary:hover
{
   background-color: rgb(176, 30, 176);
}

.inputContainer{
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: auto 0;
    flex-direction: column-reverse;

}
.inputContainer input{
    font-size: 30px;
    border-radius: 6px;
    font-weight: 200;
    border: 2px solid black;

}
.choose label
{
    background-color: none;
}
.choose
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
.backGround
{
    display: flex;
    background-color: #FB4570;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    

}
.backGround .isTrue
{
    cursor: pointer;
    border-radius: 1px;
    text-align: center;
  
}

.backGround .check:hover
{

    color: rgb(66, 198, 66);

}

.backGround .close:hover
{

    color: rgb(246, 41, 41);

}
.backGround .isFalse
{
    text-align: center;
cursor: pointer;

}

form{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
form .noteForm
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.formButton
{
display: flex;
margin: 10px;
    margin-left: 60px;
}